{% extends 'sidebar.html' %}

{% block main %}
<h1 class="page-header">{{header}}</h1>
<h3>共 {{size}} 新留言</h3>
<table class="table">
  <thead>
    <tr>
      <td>發文連結</td>
      <td>發文內容</td>
      <td>留言用戶</td>
      <td>留言內容</td>
      <td>留言時間</td>
      <td>留言連結</td>
    </tr>
  </thead>
  <tbody>
    {% for key in data %}
      <tr>
        <td rowspan={{key[2]}}><a href="{{key[0]}}" target="_blank">post</a></td>
        <td style="width: 10%" rowspan={{key[2]}}>{{key[1]}}</td>
      </tr>
      {% for v in data[key] %}
      <tr>
        <td><a href="{{v[1]}}" target="_blank">{{v[0]}}</a></td>
        <td>{{v[2]}}</td>
        <td>{{v[3]}}</td>
        <td><a href="{{v[4]}}" target="_blank">link</a></td>
      </tr>
      {% endfor %}
    {% endfor %}
  </tbody>
</table>
{% endblock %}
